on init
    insmod /nand.ko
    insmod /sunxi-ir-rx.ko
    insmod /sunxi-keyboard.ko
    insmod /disp.ko
    insmod /lcd.ko

    mkdir /extsd
    mkdir /bootloader

on fs
    # Mapeamento oficial dos blocos NAND para a pasta by-name
    mkdir /dev/block/by-name 0755 root root
    symlink /dev/block/nanda /dev/block/by-name/bootloader
    symlink /dev/block/nandb /dev/block/by-name/env
    symlink /dev/block/nandc /dev/block/by-name/boot
    symlink /dev/block/nandd /dev/block/by-name/system
    symlink /dev/block/nandf /dev/block/by-name/misc
    symlink /dev/block/nandg /dev/block/by-name/recovery
    symlink /dev/block/nandh /dev/block/by-name/cache
    symlink /dev/block/nandn /dev/block/by-name/UDISK
    symlink /dev/block/nandn /dev/block/by-name/data

service console /sbin/sh
    console
    disabled
    user shell
    group log
