on init
    # Cria os links simbolicos da memoria eMMC para a pasta /dev/block/by-name
    symlink /dev/block/platform/soc/1c0f0000.mmc/by-name /dev/block/by-name
    symlink /dev/block/platform/soc.0/1c0f0000.mmc/by-name /dev/block/by-name
    symlink /dev/block/platform/1c0f0000.mmc/by-name /dev/block/by-name
    symlink /dev/block/platform/sunxi-mmc.0/by-name /dev/block/by-name
